@use "~scss/settings" as *;

.layout-wrapper-root {
  background-color: $color-primary-grey;

  min-height: calc(100vh - 100px);

  padding: 50px 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
