$color-white: #fff;
$color-dark-blue: #016795;
$color-primary-grey: #6b7c85;
$color-light-blue: #0e87cc;

$color-black: #101010;
$color-gray-22: #222;
$color-gray-44: #444;
$color-gray-48: #484848;
$color-gray-4F: #4f4f4f;
$color-gray-56: #565656;
$color-gray-61: hsl(0, 0%, 38%);
$color-gray-66: #666;
$color-gray-82: #828282;
$color-gray-99: #999;
$color-gray-E4E6: #e4e6e4;
$color-gray-e7: #e7e7e7;
$color-gray-f2f3: #f2f3f7;
$color-gray-f2f3f8: #f2f3f8;
$color-gray-f9f: #f9fafb;
$color-gray-b2: #b2b2b2;
$color-gray-bd: #bdbdbd;
$color-gray-aa: #aaa;
$color-gray-E0: #e0e0e0;
